.mybody{
    padding: 0;
    margin: 0;
    background-color: grey;
}
.slider-frame{
    overflow: hidden;
    height: 300px;
    width: 350px;
    margin-left: 36px;
    margin-top: 20px;
}
@keyframes slide-animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 350px;}
    30%{left: 350px;}
    40%{left: 700px;}
    50%{left: 700px;}
    60%{left: 350px;}
    70%{left: 350px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
}
.slide-images{
    width: 1050px;
    height: 300px;
    margin: 0 0 0 -700px;
    position: relative;
    animation-name:slide-animation ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-play-state:running;
}
.img-container{
    height: 300px;
    width: 350px;
    position: relative;
    float: left;
} 
h3{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: honeydew;
}